# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
.env

# Build files
build/
dist/
*.apk
*.aab
*.ipa

# Dependency directories
ios/Pods/
android/.gradle/
android/app/build/
android/build/

# IDE files
.vscode/
.idea/

# Miscellaneous
*.log
*.tmp
*.swp